In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\anike\OneDrive\Desktop\mlcodesgit\ML_Codes\onlinefraudDetect\online_payment_fraud_data.csv")
df = df.drop(columns=["isFlaggedFraud"],axis=1).copy()

In [3]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0

In [4]:
df = df.drop(columns = ["nameOrig","nameDest"]).copy()

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df.type = le.fit_transform(df.type)

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingClassifier

In [9]:
x = df.drop(columns = "isFraud",axis=1).copy()
y = df.isFraud

In [10]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.33,random_state=42)

In [12]:
gbclf = GradientBoostingClassifier(n_estimators=100, learning_rate=1.0,max_depth=1, random_state=0)
gbclf.fit(xtrain,ytrain)

GradientBoostingClassifier(learning_rate=1.0, max_depth=1, random_state=0)

In [13]:
gbclf.score(xtest,ytest)

0.9987683749550523